<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="db4oj"
   name="db4oj"
   version="4.0.0"
   provider-name="db4objects">
   <runtime>
      <library name="db4o.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
